
.BottomNav-Container {
  display: flex;
  justify-content: center;
  margin-right: 2em;
  margin-top: 2em;
  gap: 10em;

  

}
.navLinkClass{
    text-decoration: none;
    color: gray;
    font-size: 20px;
    font-weight: lighter;
    font-style: verdana;

}
.navigation-container{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
