.top-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30em;
    padding-top: 2em;
}
.search-container{
    display: flex;
    justify-content: center;
    
 }
 .logoText{
    display: flex;
    font-family: Garamond serif ;
    font-weight: lighter;
 }
.bottom-nav-bar{
    margin-right: 10em;
}
